.tal-abus {
  &__cover {
    width: 100%;
    z-index: 1;
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    video, img {
      width: 100%;
      height: calc(100vh - 60px);
      object-fit: cover;
      display: block;
      z-index: 1;
    }
    .info-cover {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .titleBox {
      font-family: RoslindaleDC-Light;
      font-size: 15vh;
      line-height: 87.5%;
      color: #F0F0E9;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5vh;
      width: 155.34vh;
    }
  }
  &__content {
    position: relative;
    z-index: 2;

  }
  &__corevalue {
    background: #222222;
    padding: 2.92vw;
    .heading {
      font-size: 5.2vw;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      color: #BD9445;
      margin-bottom: 2.5vw;
      text-align: center;
    }
    .des {
      width: 352px;
      font-size: 16px;
      margin: 0 auto 2.5vw;
      line-height: 133.7%;
      text-align: center;
      color: #F0F0E9;
    }
    .list-value {
      width: 1246px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 1.46vw;
      row-gap: 2.5vw;
      flex-wrap: wrap;
      li {
        width: calc((100% - 2.92vw) / 3);
        height: auto;
      }
    }
    .value {
      &:hover {
        background: #BD9445;
        .title, .sapo {
          color: #F0F0E9;
        }
      }
      transition: .3s ease;
      width: 100%;
      height: 100%;
      background: #F0F0E9;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px;
      box-sizing: border-box;
      .title {
        font-size: 20px;
        line-height: 133.7%;
        margin-bottom: 37px;

        color: #BD9445;
      }
      .sapo {
        font-size: 16px;
        line-height: 133.7%;
        color: #222222;
        margin-bottom: auto;
      }
      .imgBox {
        width: 120px;
        margin-top: 37px;
        img {
          width: 100%;
          display: block;
        }

      }
    }
  }
  &__culture {
    background: #F0F0E9;
    padding: 2.92vw;
    .heading {
      font-size: 5.2vw;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      color: #BD9445;
      margin-bottom: 2.5vw;
    }
    .list-imgCulture {
      margin-bottom: 2.5vw;
      display: flex;
      flex-wrap: wrap;
      gap: 1.53vw;
      align-items: flex-end;
      li {
        width: calc((100% - 4.59vw) / 4);
      }
    }
    .imgCulture {
      width: 100%;
      position: relative;
      &.landscape {
        padding-top: 66%;
      }
      &.square {
        padding-top: 100%;
      }
      &.vertical {
        padding-top: 126%;
      }
      img {
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        display: block;
        object-fit: cover;
        width: 100%;
        border-radius: 12px;
      }
    }
    .textBox {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      line-height: 133.7%;
      color: #222222;
      .left {
        width: 265px;
        font-family: SuisseIntl-Medium;

      }
      .right {
        width: 633px;
        max-width: 100%;
        font-family: SuisseIntl-Regular;
      }
      p + p {
        margin-top: 25px;
      }
    }
  }
  &__people {
    background: #CDD3D8;
    color: #091A54;
    padding: 120px 2.92vw;

    .heading {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      font-size: 5.2vw;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      margin-bottom: 2.5vw;
    }
    .people-wrapper {
      display: flex;
      gap: 2.26vw;
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
    }
    .peopleBox {
      &:nth-child(2) {
        padding-top: 6vw;
      }
      width: 50%;
    }
    .thumb {
      width: 100%;
      padding-top: 100%;
      display: block;
      margin-bottom: 37px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .name {
      font-size: 60px;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      display: block;
      margin-bottom: 20px;
      color: #091A54;
    }
    .pos {
      font-size: 14px;
      line-height: 133.7%;
      text-transform: uppercase;
      margin-bottom: 37px;
    }
    .des {
      font-size: 17px;
      line-height: 133.7%;
      font-family: SuisseIntl-Regular;
    }
  }
  &__wtwork {
    background: #091A54;
    padding: 2.92vw;
    .heading {
      font-size: 5.2vw;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      margin-bottom: 2.5vw;
      color: #F0F0E9;
      text-align: center;
      span {
        color: #BD9445;
      }
    }
    .list-loca {
      display: flex;
      gap: 2.26vw;
    }
    .loca {
      width: 50%;
      display: block;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      .thumb {
        padding-top: 62.87%;
        width: 100%;
        display: block;
        background: #201F1F;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .total {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

      }
      .name-pos {
        font-size: 4vw;
        line-height: 111.5%;
        font-family: RoslindaleDC-Light;
        margin-bottom: 0.8vw;
        display: block;
        color: #F0F0E9;
      }
      .addr {
        font-size: 1vw;
        line-height: 133.7%;
        display: block;
        text-align: center;
        color: #F0F0E9;

      }
    }
  }
}

@media screen and (max-width: 780px) {
  .tal-abus {
    &__cover {
      height: 156.8vw;
      video, img {
        height: 156.8vw;
      }
      .info-cover {

      }
      .titleBox {
        flex-direction: column;
        font-size: 15vw;
        gap: 2vw;
        line-height: 102%;
      }
    }
    &__content {

    }
    &__corevalue {
      padding: 40px 20px;
      .heading {
        font-size: 60px;
        margin-bottom: 20px;
      }
      .des {
        margin-bottom: 30px;
        width: 100%;
      }
      .list-value {
        width: 100%;
        gap: 25px;
        li {
          width: 100%;
        }
      }
      .value {
        padding: 20px 15px;

        .title {
          margin-bottom: 25px;
          font-size: 18px;
        }
        .sapo {
          margin-bottom: 25px;
          font-size: 14px;
        }
        .imgBox {
          width: 120px;
        }
      }
    }
    &__culture {
      padding: 40px 20px;
      .heading {
        font-size: 74px;
        margin-bottom: 30px;
      }
      .list-imgCulture {
        gap: 30px 10px;
        margin-bottom: 37px;
        li {
          width: calc((100% - 10px) / 2);
        }
      }
      .imgCulture {
        img {
          border-radius: 4px;
        }
      }
      .textBox {
        display: block;
        .left {
          width: 100%;
          margin-bottom: 20px;

        }
        .right {

        }
        p + p {

        }
      }
    }
    &__people {
      padding: 40px 20px;
      .heading {
        font-size: 74px;
        margin-bottom: 30px;
      }
      .people-wrapper {
        gap: 37px;
        flex-direction: column;
      }
      .peopleBox {
        & + .peopleBox {
          margin-top: 0;
        }

        width: 100vw;
        margin-left: -20px;
      }
      .thumb {
        margin-bottom: 37px;
        img {
          border-radius: 0;
        }
      }
      .name {
        padding: 0 20px;
        font-size: 50px;
        margin-bottom: 37px;
      }
      .pos {
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 37px;
      }
      .des {
        font-size: 17px;
        padding: 0 20px;
      }
    }
    &__wtwork {
      padding: 40px 20px;
      .heading {
        font-size: 60px;
        margin-bottom: 37px;
      }
      .list-loca {
        gap: 33px;
        flex-direction: column;
      }
      .loca {
        width: 100%;
        .thumb {

        }
        .total {
          padding: 0 20px;

        }
        .name-pos {
          font-size: 48px;
          margin-bottom: 0;
        }
        .addr {
          font-size: 16px;
          br {
            display: none;
          }
        }
      }
    }
  }
}