.tal-footer {
  background: #000000;
  padding: 0 50px;
  .content-footer {
    padding: 55px 0;
    width: 1266px;
    max-width: 100%;
    margin: 0 auto;
  }
  .flex-footer {
    & + .flex-footer {
      margin-top: 80px;
    }
    justify-content: space-between;
    &.alit-content-start {
      align-items: start;
    }
    &.alit-content-end {
      align-items: end;
    }
    display: flex;
  }
  .tal-logo {
    display: block;
    width: 300px;
    svg {
      width: 90px;
      height: auto;
      display: block;
    }
  }
  .scrl-top {
    margin-left: 50px;
    flex-shrink: 0;
    width: 105px;
    height: 105px;
    box-sizing: border-box;
    border: 1px solid #F0F0E9;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    .icn {
      display: flex;
      align-items: center;
    }
    .txt {
      font-size: 14px;
      line-height: 95%;
      display: block;
      text-align: center;
      color: #F0F0E9;
    }
  }
  .ft-group {
    flex-shrink: 0;
    display: flex;
    align-items: end;
    gap: 59px;
    margin-left: 40px;
    margin-right: auto;
  }
  .footer-type {
    width: 281px;
    .label {
      display: flex;
      align-items: center;
      gap: 9px;
      margin-bottom: 5px;
      .txt {
        font-size: 12px;
        line-height: 133.7%;
        display: block;
        text-transform: uppercase;
        color: #BD9445;
      }
      .icn {
        display: block;
        width: 20px;
        svg {
          width: 100%;
          display: block;
          height: auto;
        }
      }
    }
    .ft-info {
      font-size: 36px;
      line-height: 133.7%;
      display: block;
      color: #E1E1DA;
      box-shadow: 0px 3px 0px #F5F6F1;
    }
  }
  .addrss-gr {
    display: flex;
    gap: 40px;
  }
  .addrss-box {
    width: 300px;
    .label {
      font-size: 12px;
      line-height: 133.7%;
      margin-bottom: 11px;
      text-transform: uppercase;
      color: #BD9445;
    }
    .addrss {
      font-size: 12px;
      line-height: 133.7%;

      color: #E1E1DA;
    }
  }
  .copyright {
    font-size: 12px;
    line-height: 133.7%;
    text-align: right;
    color: #F0F0E9;
    opacity: 0.5;
  }
}

@media screen and (max-width: 780px) {
  .tal-footer {
    padding: 0;
    .content-footer {
      padding: 35px 20px;
      box-sizing: border-box;
    }
    .flex-footer {
      & + .flex-footer {
        margin-top: 50px;
      }

      &.alit-content-start {

      }
      &.alit-content-end {

      }
      flex-direction: column;
    }
    .tal-logo {
      display: none;
    }
    .scrl-top {
      display: none;
    }
    .ft-group {
      margin: 0;
      flex-direction: column;
      gap: 15px;
    }
    .footer-type {

      .label {

        .txt {

        }
        .icn {

        }
      }
      .ft-info {

      }
    }
    .addrss-gr {

    }
    .addrss-box {
      width: 100%;
      .label {

      }
      .addrss {

      }
    }
    .copyright {
      text-align: left;
      width: 100%;
      margin-top: 47px;
    }
  }

}