.tal-home {
  &__cover {
    position: relative;
    video {
      width: 100%;
      height: calc(100vh - 60px);
      object-fit: cover;
      display: block;
      z-index: 1;
    }
    .info-cover {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      z-index: 2;
      padding-left: 31.18vh;
      padding-top: 7.45vh;
      padding-right: 26.27vh;
      padding-bottom: 8.47vh;
    }
    .titleBox {
      font-family: RoslindaleDC-Light;
      font-size: 16vh;
      line-height: 111.5%;
      color: #F0F0E9;
      .txt {
        &:nth-child(2) {
          padding-left: 15.56vh;
        }
      }
    }
    .bottom-cover {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list-navLinks {
      width: 633px;
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      li {
        width: calc((100% - 7px) / 2);
      }
      .nav-link-cover {
        font-size: 14px;
        line-height: 135%;
        font-family: SuisseIntl-Regular;
        color: #E1E1DA;
        display: block;
      }
    }
    .icn-des {
      display: flex;
      border: 1px solid #F0F0E9;
      border-radius: 50%;
      justify-content: flex-end;
      padding-bottom: 10px;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      width: 105px;
      height: 105px;
      .txt {
        font-size: 14px;
        line-height: 95%;
        text-align: center;
        display: block;
        font-family: SuisseIntl-Regular;
        color: #F0F0E9;
        margin-bottom: 12px;
      }
      .icn {
        display: block;
        width: 9px;
      }
    }
  }
  &__abus {

    .textContent {
      background: #091A54;
      padding-top: 90px;
      padding-bottom: 36.61vh;
    }
    .textContent-wrapper {
      width: 678px;
      max-width: 100%;
      margin: 0 auto;
    }
    .heading {
      font-size: 90px;
      line-height: 111.5%;
      font-family: RoslindaleDC-Light;
      text-align: center;
      margin-bottom: 25px;
      /* #D8E4B4 */

      color: #BD9445;
    }
    .des {
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 135%;
      font-family: SuisseIntl-Regular;
      text-align: center;
      color: #F0F0E9;
    }
    p + p {
      margin-top: 30px;
    }
    .view-more {
      font-size: 14px;
      line-height: 135%;
      font-family: SuisseIntl-Regular;
      color: #F0F0E9;
      width: 123px;
      height: 39px;
      background: #BD9445;
      border-radius: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .videoContent {
      background: #F0F0E9;
    }
    .videoBox {
      transform: translate3d(0, -24.06vh, 0);
      width: 78.70vw;
      margin: 0 auto;
      video {
        width: 100%;
        height: 42.45vw;
        object-fit: cover;
        display: block;
        border-radius: 23px;

      }
    }
  }
  &__our {
    background: #F0F0E9;
    .our-expts {
      padding-bottom: 6.56vw;
      .heading {
        font-size: 18.5vw;
        line-height: 111.5%;
        font-family: RoslindaleDC-Light;
        text-align: center;
        margin-bottom: 6vw;
        color: #222222;
        span {
          color: #BD9445;
        }
      }
      .list-expts {
        display: flex;
        flex-wrap: wrap;
        padding: 0 1.46vw;
        li {
          width: 50%;
          border-top: 1px solid rgba(34, 34, 34, .12);
          box-sizing: border-box;
          padding-top: 4.31vw;
          padding-bottom: 4.31vw;
          &:nth-child(2n) {
            padding-left: 1.46vw;
          }
          &:nth-child(2n+1) {
            padding-right: 1.46vw;
          }
        }
      }
      .expts-card {
        display: flex;
        .thumb {
          width: 14.49vw;
          margin-right: 1.9vw;
          flex-shrink: 0;
          img, video {
            width: 100%;
            display: block;
            height: auto;
          }
        }
        .total {
          flex-grow: 1;
        }
        .type {
          display: flex;
          align-items: center;
          margin-bottom: 34px;
          .numb {
            width: 4vw;
            height: 4vw;
            font-size: 2.5vw;
            border: 1px solid #222222;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 84.5%;
            text-align: center;
            letter-spacing: -0.01em;
            color: #222222;
            margin-right: 22px;
            flex-shrink: 0;
          }
          .txt {
            flex-grow: 1;
            font-size: 1.7vw;
            line-height: 117%;
            font-family: SuisseIntl-Medium;
            display: block;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #222222;
          }
        }
        .sapo {
          font-size: 1vw;
          line-height: 155%;
          color: #222222;

        }
      }
    }
    .our-clients {
      z-index: 3;
      position: relative;
      .videoBG {
        width: 100%;
        position: relative;
        video {
          width: 100%;
          height: 44.51vw;
          object-fit: cover;
          display: block;
          z-index: 1;
          border-radius: 20px 20px 0px 0px;

        }
        .heading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          line-height: 90%;
          font-family: RoslindaleDC-Light;
          text-align: center;
          font-size: 6vw;
          color: #F0F0E9;
          z-index: 2;
        }
      }
      .client-list {
        background: #091A54;
        padding: 5.12vw 5.49vw;
        display: flex;
        flex-wrap: wrap;
        gap: 5.27vw;
        border-radius: 0 0 20px 20px;
        li {
          width: calc(100% / 7);
        }
        .client {
          display: block;
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
    .our-works {
      background: #000000;
      padding-top: 124px;
      padding-bottom: 95px;
      z-index: 2;
      .works-content {
        width: 74.96vw;
        margin: 0 auto 128px;
      }
      .heading {
        font-size: 113.15px;
        line-height: 90%;
        font-family: RoslindaleDC-Light;
        margin-bottom: 36px;
        text-align: center;
        color: #F0F0E9;
        span {
          color: #BD9445;
        }
      }
      .des {
        font-size: 18px;
        line-height: 117%;
        width: 478px;
        margin: 0 auto 36px;
        max-width: 100%;
        text-align: center;
        letter-spacing: -0.03em;

        color: #F0F0E9;

      }
      .view-more {
        font-size: 14px;
        line-height: 135%;
        font-family: SuisseIntl-Regular;
        color: #F0F0E9;
        width: 162px;
        height: 39px;
        background: #BD9445;
        border-radius: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .work-project {
        width: 74.96vw;
        margin: 0 auto;
      }
      .list-porject {
        li {
          & + li {
            margin-top: 3vw;
          }
          width: 100%;
          display: flex;
          justify-content: flex-end;
          &:nth-child(2n + 1) {
            justify-content: flex-start;
          }
        }
      }
      .project-card {
        width: 45.02vw;
        .thumb {
          display: block;
          margin-bottom: 10px;
          width: 100%;
          padding-top: 66.66%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            object-fit: cover;
            border-radius: 12px;
          }
        }
        .type-client {
          display: flex;
          align-items: center;
          font-size: 0.9vw;
          line-height: 135%;
          color: #F0F0E9;
          opacity: 0.6;
          margin-bottom: 5px;
        }
        .client-name {
          flex-grow: 1;
          display: block;
          color: #F0F0E9;
        }
        .date {
          display: block;
          flex-shrink: 0;
          margin-left: 15px;
          color: #F0F0E9;
        }
        .name-project {
          font-size: 1.4vw;
          line-height: 135%;
          font-family: SuisseIntl-Medium;
          color: #F0F0E9;
          display: block;
        }

      }
    }
  }
  &__ecosys {
    background: #F0F0E9;
    display: flex;
    border-radius: 20px;
    height: calc(100vh - 60px);
    overflow: hidden;
    .heading {
      width: 66.78vh;
    }
    .list-ecosys {
      display: flex;
      gap: 8.47vh;
      height: 100%;
    }
    .eco-wrapper {
      display: flex;
      box-sizing: border-box;
      padding: 6.77vh;
      gap: 8.47vh;
      height: 100%;
    }
    .heading {
      font-size: 15vh;
      line-height: 80.5%;
      font-family: RoslindaleDC-Light;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #222222;
      span {
        color: #BD9445;
      }
    }
    li {
      width: 101.69vh;
      height: 100%;
      &:nth-child(1) {
        .ecosys-card {
          background: #132050;
        }
      }
      &:nth-child(2) {
        .ecosys-card {
          background: #F04624;
        }
      }

      &:nth-child(3) {
        .ecosys-card {
          background: #CDD3D8;
          .des {
            color: #091A54;
          }
        }
      }
    }
    .ecosys-card {

      border-radius: 20px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.08vh;
      box-sizing: border-box;
    }

    .thumb {
      width: 33.90vh;
      height: 33.90vh;
      display: block;
      margin-bottom: 8.81vh;
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .logo {
      width: 32vh;
      display: block;
      svg {
        width: 100%;
        display: block;
        height: auto;
      }
    }
    .des {
      font-size: 2.2vh;
      line-height: 135%;
      margin-top: auto;
      color: #F0F0E9;
      white-space: normal;
    }
  }
}