@charset "utf-8";

//commons
@import "reset";
@import "mixins";
@import "fonts";
//elements
@import "header";
@import "footer";
//layouts
@import "home";
@import "work";
@import "detail-work";
@import "career";
@import "about-us";
@import "our_works";

body{
  background: #000;
}

.tal-wrapper {
  transition: .65s ease;
  &.active {
    transform: translate3d(0, 90vh, 0);
  }
  background: #000000;
  font-family: SuisseIntl-Regular;
  font-size: 16px;
}

.tal-wrapper__content {
  box-sizing: border-box;
  position: relative;

}

.top-border-radius {
  top: 40px;
  position: fixed;
  height: 20px;
  left: 10px;
  z-index: 10;
  background-color: #000000;
  &:before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -20px 0 0 #000000;
  }
}

.bottom-round {
  position: fixed;
  left: 10px;
  bottom: 0;
  z-index: 9999;
  display: flex;
  height: 10px;
  justify-content: center;
  align-items: flex-end;
}

.bottom-border-radius {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  transform: rotate(180deg);
  height: 10px;
  background-color: #000000;
  border-radius: 0px 0px 0px 0;
  &:before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -20px 0 0 #000000;
  }
}

.tal-container {

}

.scroll-content {
  border-left: 10px solid #000000;
  border-right: 20px solid #000000;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
}

.scrollbar-track.show {
  border-radius: 15px;
  background: #000;
}

.scrollbar-thumb {
  background: #F0F0E9 !important;
}

.smooth-scroll {
  overflow-y: hidden !important;
}

.smooth-scroll #scroll-container {
  width: auto;
  height: 100vh;
  overflow: auto;
  margin: 0;
}

.horizontal {
  overflow-x: hidden;
}

.horizontal .pin-wrap,
.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.horizontal-item {
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 780px) {
  .tal-wrapper {
    padding-top: 46px;
  }
  .top-border-radius {
    top: 26px;
  }
  .bottom-round, .top-border-radius {
    width: 100vw;
    left: 0;
  }
}