@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
body.smooth-scroll {
  overflow-y: hidden !important;
}
body.smooth-scroll #scroll-container {
  width: auto;
  height: 100vh;
  overflow: auto;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0 0 40px 0;
}

section {
  height: 100%;
  position: relative;
}




section.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

section.blank {
  padding: 100px 28%;
}

.horizontal-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.horizontal-item:first-child,
.horizontal-item:last-child {
  width: 100vw;
}

.hi-red {
  background-color: #e4002b;
}
.hi-dark {
  background-color: #222;
}
.hi-green {
  background-color: #066607;
}

.horizontal-item.active {
  color: orange;
}

.horizontal-item img {
  width: auto;
  height: 75%;
  transform: scale(0.7);
  transition: all 1.2s cubic-bezier(0.66, -0.03, 0.29, 1);
}
.horizontal-item.active img {
  transform: scale(1);
}