@font-face {
  font-family: RoslindaleDC-Light;
  src: url("../fonts/RoslindaleDC-Light.otf");
}

@font-face {
  font-family: RoslindaleText-Regular;
  src: url("../fonts/RoslindaleText-Regular.ttf");
}

@font-face {
  font-family: SuisseIntl-Regular;
  src: url("../fonts/SuisseIntl-Regular.otf");
}

@font-face {
  font-family: SuisseIntl-Medium;
  src: url("../fonts/SuisseIntl-Medium.otf");
}